// Colors
$primary: #0f0f0f;
$sec: #181818;
$tri: #252525;
$blue: #0174dc;

$text-gray: #747474;

.Password-container {
  display: flex;
  align-items: center;
  border: 1px solid $tri;
  padding: 0 1.25rem;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  background-color: $sec;
}

.Pass-input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 0.9rem;
  background-color: $sec;
  padding: 0.7rem 0;
  color: white;
}

.eye {
  cursor: pointer;
  color: $blue;
}
.eye-slash {
  cursor: pointer;
  color: $text-gray;
}
